In [4]:
import pandas as pd
import numpy as np

In [6]:
folder = 'C:\\Users\\i.bermejo\\Documents\\Data\\CARRIER\\UKBB\\'
file = folder + 'gp_scripts.txt'
antihypertensives_file = folder + 'uom_antihypertensives_prodcodeid.csv'

In [13]:
dataset = pd.read_csv(file, sep='\t')
dataset.shape

In [3]:
dataset.head()

,eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity
0,1000025,3,12/05/2000,NaN,02.06.02.00.00,NaN,Istin 10mg tablets (Pfizer Ltd),3 OP
1,1000025,3,07/05/1997,NaN,02.06.02.00.00,NaN,Istin 10mg tablets (Pfizer Ltd),3 OP
2,1000025,3,19/08/2000,NaN,02.06.02.00.00,NaN,Istin 10mg tablets (Pfizer Ltd),3 OP
3,1000025,3,28/10/2000,NaN,02.06.02.00.00,NaN,Istin 10mg tablets (Pfizer Ltd),3 OP
4,1000025,3,16/09/2002,NaN,02.06.02.00.00,NaN,Istin 10mg tablets (Pfizer Ltd),3 x 28

In [21]:
dataset = dataset.dropna(subset=['drug_name'])
dataset.shape

(48968774, 8)

## Statins

In [ ]:
relevant_drug_names = ['simvastatin', 'pravastatin', 'lipostat', 'simvador', 'crestor', 'inegy', 'lipitor', 'lipobay', ' fluvastatin',
                       'zocor', 'atorvastatin', 'cerivastatin', 'ranzolont', 'lescol', 'rosuvastatin']

In [13]:
# Create a regex pattern from the search strings, joining them with '|', and setting case insensitive flag
pattern = '|'.join(relevant_drug_names)
regex_pattern = f"(?i)({pattern})"

# Filter the DataFrame
df_statins = dataset[dataset['drug_name'].str.contains(regex_pattern, regex=True)]

C:\Users\i.bermejo\AppData\Local\Temp\ipykernel_45432\1244880863.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_df = dataset[dataset['drug_name'].str.contains(regex_pattern, regex=True)]

In [21]:
df_statins.to_csv("statin_prescriptions.csv", index = False)
df_statins.shape

(3641470, 8)

In [17]:
df_statins.head()

,eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity
243,1000025,3,18/03/2016,NaN,02.12.04.00.00,NaN,Atorvastatin 20mg tablets,28 tablet
244,1000025,3,10/06/2016,NaN,02.12.04.00.00,NaN,Atorvastatin 20mg tablets,56 tablet
247,1000025,3,20/04/2016,NaN,02.12.04.00.00,NaN,Atorvastatin 20mg tablets,56 tablet
579,1000041,3,15/05/2012,NaN,02.12.04.00.00,NaN,Simvastatin 20mg tablets,2*28 tablets - 20 mg
583,1000041,3,14/11/2011,NaN,02.12.04.00.00,NaN,Simvastatin 20mg tablets,2*28 tablets - 20 mg

In [19]:
# Convert the Date column to datetime
df_statins['issue_date'] = pd.to_datetime(df_statins['issue_date'],  format='%d/%m/%Y')

# Sort the DataFrame by 'eid' and 'issue_date'
df_statins_sorted = df_statins.sort_values(by=['eid', 'issue_date'])

# Drop duplicates, keeping only the first occurrence for each person
df_statins_initiation_date = df_statins_sorted.drop_duplicates(subset=['eid'], keep='first')

C:\Users\i.bermejo\AppData\Local\Temp\ipykernel_45432\3965879663.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['issue_date'] = pd.to_datetime(filtered_df['issue_date'],  format='%d/%m/%Y')

In [20]:
df_statins_initiation_date.shape

(70625, 8)

In [22]:
df_statins_initiation_date.to_csv(folder + "statin_initiation.csv", index = False)

In [23]:
df_statins_initiation_date.head()

,eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity
243,1000025,3,2016-03-18,NaN,02.12.04.00.00,NaN,Atorvastatin 20mg tablets,28 tablet
940,1000041,3,2009-02-05,NaN,02.12.04.00.00,NaN,Simvastatin 20mg tablets,56 tablets - 20 mg
1155,1000068,2,2013-04-26,bxi1.,02120400,NaN,Atorvastatin 10mg tablets,56.000
1926,1000170,1,2017-01-26,bxi2.00,NaN,320030001.0,Atorvastatin 20mg tablets,28.000
2002,1000193,3,1998-11-27,NaN,02.12.04.00.00,NaN,Cerivastatin 100microgram tablets,42 tablets - 100 micrograms

## Antihypertensives

In [ ]:
df_antihypertensive = pd.read_csv(antihypertensives_file)
df_antihypertensive.shape

In [23]:
df_antihypertensive.head()

,prodcodeid,termfromemis,productname,drugsubstancename,bnfchapter,dmdid
0,246241000033116,Chlorothiazide 250mg/5ml oral suspension,Chlorothiazide 250mg/5ml oral suspension,Chlorothiazide,2020100.0,408039005
1,395041000033117,Cyclopenthiazide 500microgram tablets,Cyclopenthiazide 500microgram tablets,Cyclopenthiazide,2020100.0,317940003
2,744941000033110,Hydrochlorothiazide 25mg tablets,Hydrochlorothiazide 25mg tablets,Hydrochlorothiazide,2020100.0,376209006
3,745441000033118,Hydrochlorothiazide 50mg tablets,Hydrochlorothiazide 50mg tablets,Hydrochlorothiazide,2020100.0,376508004
4,765741000033116,Indapamide 1.5mg modified-release tablets,Indapamide 1.5mg modified-release tablets,Indapamide,2020100.0,39020711000001100

In [ ]:
antihypertensive_drug_names = df_antihypertensive['productname'].unique()

len(antihypertensive_drug_names)

In [24]:
# Create a regex pattern from the search strings, joining them with '|', and setting case insensitive flag
pattern = '|'.join(antihypertensive_drug_names)
regex_pattern = f"(?i)({pattern})"

# Filter the DataFrame
df_antihypertensive_prescriptions = dataset[dataset['drug_name'].str.contains(regex_pattern, regex=True)]

C:\Users\i.bermejo\AppData\Local\Temp\ipykernel_17664\1159518436.py:6: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_antihypertensive_prescriptions = dataset[dataset['drug_name'].str.contains(regex_pattern, regex=True)]

In [25]:
df_antihypertensive_prescriptions.shape

(6349370, 8)

In [26]:
# Convert the Date column to datetime
df_antihypertensive_prescriptions['issue_date'] = pd.to_datetime(df_antihypertensive_prescriptions['issue_date'],  format='%d/%m/%Y')

# Sort the DataFrame by 'eid' and 'issue_date'
df_antihypertensive_prescriptions_sorted = df_antihypertensive_prescriptions.sort_values(by=['eid', 'issue_date'])

# Drop duplicates, keeping only the first occurrence for each person
df_antihypertensive_initiation_date = df_antihypertensive_prescriptions_sorted.drop_duplicates(subset=['eid'], keep='first')
df_antihypertensive_initiation_date.shape

C:\Users\i.bermejo\AppData\Local\Temp\ipykernel_17664\1750216800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antihypertensive_prescriptions['issue_date'] = pd.to_datetime(df_antihypertensive_prescriptions['issue_date'],  format='%d/%m/%Y')

(79365, 8)

In [27]:
df_antihypertensive_initiation_date.head()

,eid,data_provider,issue_date,read_2,bnf_code,dmd_code,drug_name,quantity
43,1000025,3,1996-09-02,NaN,02.06.02.00.00,NaN,Istin 5mg tablets (Pfizer Ltd),1 OP
862,1000041,3,2009-04-06,NaN,02.06.02.00.00,NaN,Amlodipine 10mg tablets,28 tablet(s) - 10 mg
1565,1000142,3,2009-09-18,NaN,02.05.05.01.00,NaN,Ramipril 1.25mg capsules,28 capsule - 1.25 mg
1877,1000158,3,2005-03-03,NaN,02.02.01.00.00,NaN,Bendroflumethiazide 2.5mg tablets,56 - tablet(s)
1972,1000193,3,2015-03-12,NaN,02.06.02.00.00,NaN,Amlodipine 5mg tablets,28 tablet

In [28]:
df_antihypertensive_initiation_date.to_csv(folder + "antihypertensive_initiation.csv", index = False)